body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-contianer {
  min-height: 100vh;
}

main {
  flex: 1;
}
/* Button layout */
.btn-primary {
  background-color: blue;
  color: white;
}
/* Button Hover effect */
.btn-primary:hover {
  background-color: black;
  color: yellow;
}
/* Button after being focused */
.btn-primary:focus {
  background-color: green;
  color: black;
}

.products {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
/* Color of star rating in products */
.rating span {
  color: #ffc000;
}

.product {
  border: 1px black solid;
  margin: 1rem;
}

/* Hard setting for image sizes */
.product img {
  width: 100%;
  min-width: 400px;
  max-width: 400px;
  max-height: 400px;
}

.product-info{
  padding: 1rem;
}

/* CLASS USED FOR SINGLE IMAGE ON PRODUCT SCREEN */
.img-large{
  max-width: 100%;
}